* {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
}

header {
  left: 0;
  right: 0;
  top: 44px;
  background-color: white;
  padding-bottom: 70px;
  padding-left: 3%;
  padding-right: 3%;
}

section > a {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-decoration: none;
}

#nav {
  display: flex;
}

#nav nav:hover {
  cursor: pointer;
}

#nav .logo {
  text-decoration: none;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #6070ff;
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 24px;
  margin-top: 20px;
  width: 25%;
  margin-right: 60%;
}

#nav .logo:hover {
  text-decoration: underline;
  text-decoration-color: #23a3fa;
}

header #nav .logo {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.hamburger {
  width: 45px;
  height: 30px;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

section > h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 52px;
  display: flex;
  color: #172b4d;
  margin: 12px 0;
}

section > h1:hover {
  transform: translate(2.1rem, -2ex);
}

h2 {
  font-weight: 700;
  font-size: 40px;
}

.social_media {
  position: static;
  min-width: 193.17px;
  left: 24px;
  display: flex;
  flex-wrap: wrap;
  flex: none;
  flex-grow: 0;
  margin: 12px 0;
}

.mainmenu {
  height: 20px;
  margin-right: 100px;
  display: flex;
  flex-wrap: wrap;
  flex: none;
  order: 3;
  flex-grow: 0;
  padding: 10px 12px;
}

.social_media > li {
  margin: 10px;
  list-style: none;
}

.mainmenu > li {
  margin: 10px;
  list-style: none;
}

.mainmenu i {
  color: #505f79;
  font-size: 21px;
}

.social_media i {
  color: #505f79;
  font-size: 21px;
}

.social_media i:hover {
  color: #505f79;
  font-size: 21px;
  transition: transform 1s;
  transform: rotate(360deg);
}

.work {
  padding-top: 100px;
  display: grid;
  background-color: #e5e5e5;
}

.project {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  padding: 25px 13px 25px 25px;
  margin-left: 10%;
  margin-right: 0;
  grid-column-gap: 30px;
  margin-bottom: 100px;
  background-color: #fff;
  border-radius: 2.5%;
}

.general {
  grid-column-gap: 10px;
}

.general > h3 {
  padding-top: 8px;
}

.general > h3:hover {
  padding-top: 8px;
  transition: transform 0.6s;
  transform: scale(1.3);
}

.project_description {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-top: 8px;
  text-align: justify;
  margin-bottom: 8px;
}

#general_inf {
  display: flex;
  flex-wrap: wrap;
  gap: 120px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

#general_inf_1 {
  display: flex;
  flex-wrap: wrap;
  gap: 120px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

#general_inf_2 {
  display: flex;
  flex-wrap: wrap;
  gap: 120px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

#general_inf_3 {
  display: flex;
  flex-wrap: wrap;
  gap: 120px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: flex-start;
  padding-left: 0;
  overflow: auto;
}

.skills li {
  margin: 5px;
  background-color: #ebebfe;
  border-radius: 25%;
  margin-right: 10px;
  padding: 5px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
  list-style: none;
  text-align: center;
}

.mainmenu > li:hover {
  margin: 10px;
  list-style: none;
  transition: 0.7 ease;
  margin-right: 3px;
}

.title {
  font-weight: 500;
  margin-top: 10px;
}

.external_link {
  border: 1px solid #396df2;
  border-radius: 5px;
  width: 124px;
  height: 48px;
  top: calc(50% - 48px / 2);
  margin-top: 16px;
  padding: 10px;
  text-align: center;
  margin-bottom: 32px;
}

.external_link a {
  text-decoration: none;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #396df2;
  text-align: center;
}

.external_link:hover {
  background: #6070ff;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

.external_link a:hover {
  color: #fff;
}

#about_me h1 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  display: flex;
  align-items: flex-end;
}

#profile_link {
  display: flex;
  flex-direction: column;
}

#profile_link h2 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-top: 10px;
}

#profile_link h2:hover {
  text-decoration: underline;
  text-decoration-color: #18a0fa;
  text-decoration-thickness: 3px;
}

#profile_link ul {
  display: flex;
  padding-left: 0;
}

#profile_link ul li {
  list-style: none;
  margin-right: 12px;
}

#my_resume {
  text-decoration: none;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  border: 1px solid #396df2;
  border-radius: 5px;
  text-align: center;
  padding: 10px 10px;
  align-self: baseline;
}

#my_resume:hover {
  background-color: #6070ff;
  color: #fff;
}

#languages_skills {
  display: flex;
  flex-direction: column;
}

#my_skills ul {
  margin-right: 24px;
  list-style: none;
  border-radius: 8px;
  font-weight: 500;
  font-size: 20px;
}

#frameworks ul li {
  margin-right: 24px;
  list-style: none;
  border-radius: 8px;
  font-weight: 500;
  font-size: 20px;
  margin-top: 10px;
}

#skills-cards {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  justify-content: space-between;
  margin-right: 24px;
}

.frameworks-skills {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  justify-content: space-between;
  margin-right: 24px;
  margin-bottom: 0;
  margin-top: 0;
}

ul#programming {
  list-style: none;
  display: flex;
  border-radius: 8px;
  margin-bottom: 5px;
}

#frameworks {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  justify-content: space-between;
}

#l1 {
  height: 5px;
  margin: 10px 0;
}

#l1 hr {
  background: #dfe1e6;
  height: 1px;
  vertical-align: middle;
  margin-top: 3px;
}

#programming .lang p {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
  margin-top: 15px;
}

.show-language {
  float: right;
  margin-top: -5%;
  padding: 15px;
}

.show-languagee {
  float: right;
  margin-top: -5%;
  padding: 15px;
  margin-right: 3%;
}

.show-frameworks {
  margin-left: 95%;
}

.show-frameworks-1 {
  margin-left: 95%;
}

img.separator {
  width: 100%;
}

#contact .txt > h2 {
  font-weight: bold;
  font-size: 40px;
  margin: 20px;
  line-height: 52px;
}

#contact .txt > p {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
}

input {
  width: 90%;
  height: 48px;
  margin: 10px 0;
  border: none;
  padding: 10px;
  border-radius: 8px;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
}

textarea {
  width: 90%;
  margin: 10px 0;
  border: none;
  padding: 20px;
  border-radius: 8px;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
}

input[type="submit"]:hover {
  background-color: #6070ff;
  color: white;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  #nav nav {
    display: none;
  }

  #my_skills p {
    align-self: flex-start;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #344563;
  }

  #presentation {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  .general {
    width: 47%;
  }

  .project_image {
    width: 47%;
    height: 97%;
  }

  .project_image:hover {
    width: 47%;
    height: 97%;
    transform: rotate(5deg);
  }

  .project {
    height: 426px;
  }

  .project:nth-child(even) {
    flex-direction: row-reverse;
    padding: 20px;
  }

  input[type=submit] {
    width: 35%;
    margin-left: auto;
    margin-right: auto;
  }

  section {
    display: flex;
  }

  #about {
    background-image: url("img/Header bg@2x.png");
    background-repeat: no-repeat;
    background-size: 90% 100%;
    background-color: white;
    margin: 0;
    border-top: none;
    height: 500px;
    padding-left: 14%;
    padding-right: 14%;
    padding-top: 10%;
    border-radius: 0 0 0 70px;
    display: flex;
    flex-direction: column;
  }

  #about_me {
    margin: 0;
    background-color: #fff;
    padding-bottom: 95px;
    border-radius: 0 70px 0 0;
    padding-left: 8%;
    padding-right: 8%;
  }

  #my_skills {
    display: flex;
    flex-direction: column;
    margin-top: 114px;
    margin-left: 20px;
    width: 46%;
  }

  .lang {
    list-style: none;
    display: flex;
    flex-direction: column;
    background: #f7f7f9;
    border-radius: 8px;
    margin-bottom: 5px;
    margin-left: 10px;
    width: 122px;
    padding: 20px;
  }

  .lang img {
    width: 48px;
    height: 48px;
    top: 12px;
  }

  .data-inf {
    margin-left: 24px;
    margin-top: 114px;
    margin-right: 12px;
    width: 46%;
    padding-left: 50px;
  }

  .data-inf h2 {
    color: #091e42;
  }

  #programming {
    display: flex;
    padding-left: 0;
    width: 50%;
    justify-content: space-between;
  }

  .contact-section {
    padding-top: 80px;
    background-color: #6070ff;
    background-image: url("img/contactdesktop.png");
    background-repeat: no-repeat;
    background-size: 95% 90%;
    margin-left: 0;
    margin-right: 0;
    border: none;
    display: flex;
    border-radius: 70px 0 0 0;
    flex-direction: column;
    padding-left: 27%;
    padding-right: 27%;
  }

  .txt {
    color: white;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  form {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
  }

  #about p {
    font-weight: 400;
    font-size: 20px;
    color: #344563;
    margin: 12px 0;
  }

  #nav .mainmenu li a {
    text-decoration: none;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
  }
}

@media only screen and (max-width: 768px) {
  .mainmenu {
    display: none;
  }

  input[type=submit] {
    width: 35%;
  }

  .project_image {
    width: 95%;
  }

  #presentation {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  #my_skills p {
    align-self: flex-start;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #344563;
  }

  #about p {
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    margin: 12px 0;
  }

  section {
    display: flex;
    flex-direction: column;
  }

  #about {
    background-color: white;
    border: 1px solid #dfe1e6;
    background-image: url("img/header-shapes.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    border-top: none;
    height: 600px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 100px;
    border-radius: 0 0 0 70px;
    padding-top: 104px;
    display: flex;
    flex-direction: column;
  }

  #about_me {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding-bottom: 95px;
    border-radius: 0 70px 0 0;
  }

  #my_skills {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    margin-left: 20px;
  }

  .lang {
    list-style: none;
    display: flex;
    background: #f7f7f9;
    border-radius: 8px;
    margin-bottom: 5px;
  }

  .data-inf {
    margin-left: 24px;
    margin-top: 114px;
    margin-right: 12px;
  }

  #programming {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    justify-content: space-between;
  }

  .contact-section {
    padding: 20px;
    padding-top: 80px;
    background-color: #6070ff;
    background-image: url("img/contact.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 0;
    margin-right: 0;
    border: none;
    display: flex;
    flex-direction: column;
    border-radius: 70px 0 0 0;
  }

  .txt {
    color: white;
    margin: 20px;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5%;
  }
}
