* {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: #dfe1e6;
}

header {
  left: 0;
  right: 0;
  top: 44px;
  bottom: 0;
  background-color: white;
}

.icon {
  width: 100px;
  height: 40px;
  top: calc(50% - 40px / 2);
  left: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px 12px 10px 12px;
}

section {
  display: flex;
  flex-direction: column;
}

section > a {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-decoration: none;
}

.icon > a {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  text-decoration: none;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 0;
}

nav {
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: space-between;
}

.tonav {
  padding: 8px;
  width: 40px;
  height: 40px;
  right: 24px;
  top: calc(50% - 40px / 2);
}

.tonav > i {
  color: #6070ff;
  font-size: 24px;
}

.about {
  background-color: white;
  border: 1px solid #dfe1e6;
  background-image: url("./img/header-shapes.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  border-top: none;
  height: 590px;
  padding: 20px;
  border-radius: 0 0 0 70px;
  padding-top: 104px;
}

section > h1 {
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  color: #172b4d;
  margin: 12px 0;
}

section > p {
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin: 12px 0;
}

.social_media {
  position: static;
  min-width: 193.17px;
  height: 20px;
  left: 24px;
  top: 470px;
  display: flex;
  flex-wrap: wrap;
  flex: none;
  order: 3;
  flex-grow: 0;
  margin: 12px 0;
}

.social_media > li {
  margin: 10px;
  list-style: none;
}

.social_media i {
  color: #505f79;
  font-size: 21px;
}
.work {
  margin-top: 100px;
  display: grid;

}
.project {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  padding: 25px;;
  margin-left: 10%;
  grid-column-gap: 20px;
  margin-bottom: 100px;
  
}
.general {
  padding-right:5px;
}
.project_image {
border-radius: 8px;
flex: none;
order: 0;
flex-grow: 0;
width: 295px;
height: 220px;
}
.general > h3 {
  padding-top: 8px;
}
.project_description {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-top: 8px;
  text-align: justify;
  margin-right: 10px;
  margin-bottom: 8px;;
}
.project {
  background-color: #fff;
  border-radius: 2.5%;
  margin-bottom: 10vh;
}
#general_inf {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  gap: 120px;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.skills {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: flex-start;
  padding-left: 0;
  overflow: auto;
}

.skills li {
  background-color: #ebebfe;
  border-radius: 25%;
  margin-right: 10px;
  padding: 5px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
  list-style: none;
  text-align: center;
}
.title {
  font-weight: 500;
  margin-top:10px;
}
.external_link {
  border: 1px solid #396df2;
  border-radius: 5px;
  width: 35%;
  margin-top: 16px;
  padding: 10px;
  text-align: center;
  margin-bottom: 32px;
}

.external_link a {
  text-decoration: none;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #396df2;
  text-align: center;
}

.external_link:hover {
  background: #6070ff;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}
.external_link a:hover { color: #fff; }